[submodule "csci5922"]
	path = portfolio/csci5922
	url = https://github.com/isaiahlg/csci5922
[submodule "geog5023"]
	path = portfolio/geog5023
	url = https://github.com/isaiahlg/geog5023.git
[submodule "portfolio/mini-grid-nightlights"]
	path = portfolio/mini-grid-nightlights
	url = https://github.com/geohai/mini-grid-nightlights.git
[submodule "portfolio/ai4good"]
	path = portfolio/ai4good
	url = https://github.com/Better-Planet-Laboratory/ai4good.git
[submodule "portfolio/alphaearth"]
	path = portfolio/alphaearth
	url = https://github.com/isaiahlg/alphaearth.git
