body {
    font-family: arial;
    background-image: url("/assets/earthatnight.jpg");
    background-position: center;
}

.content {
    max-width: 500px;
    margin: auto;
    text-align: center;
    color: white;
}

img {
    opacity: 0.9;
    /* margin: 20px; */
}

button {
    background-color: indigo;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;
    margin: 10px 15px;
    transition-duration: 0.7s;
    border-radius: 10px;
    width: 40%;
}

button:hover {
    background-color: blueviolet; 
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1), 0 5px 10px 0 rgba(255, 255, 255, 0.1);
}

.invert {
    filter: invert(100%);
}