body {
    font-family: arial;
    background-image: url("/assets/earthatnight.jpg");
    background-position: top;
    background-attachment: fixed;
    margin: 0px;
}

.content {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 11pt;
    line-height: 140%;
}

.portrait {
    height: 250px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.3);
    transition-duration: 0.5s;
}

.portrait:hover {
    height: 260px;
    width: auto;
    margin-top: 95px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 30px 0 rgba(255, 255, 255, 0.5);
}

.black-image {
    opacity: 0.8;
    filter: invert(100%);
}

img:hover {
    opacity: 1.0;
}

.back-button {
    background-color: indigo;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
    margin: 10px 10px;
    transition-duration: 0.5s;
    border-radius: 25px;
    box-shadow: 0 0px 10px 0 rgba(255, 255, 255, 0.1);
}

.back-button:hover {
    background-color: blueviolet; 
    box-shadow: 0 0px 30px 0 rgba(255, 255, 255, 0.4);
    margin-left: 30px;
}

.purple-button {
    float: none;
    background-color: indigo;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;
    margin: 10px 10px;
    transition-duration: 0.5s;
    border-radius: 30px;
    width: 40%;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.2);
}

.purple-button:hover {
    background-color: blueviolet; 
    box-shadow: 0px 0px 30px 0 rgba(255, 255, 255, 0.4);
    font-size: 18px;
    margin: 0px 10px;
}

hr.rounded {
    border-top: 8px solid white;
    border-radius: 5px;
}

.navbar {
    width: 100%;
    background-color: rgb(27, 27, 27);
    overflow: auto;
    opacity: 0.8;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
}

.navbar a {
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.5s;
}

.navbar a:hover {
    background-color: blueviolet;
    font-size: 15px;
    padding-bottom: 19px;
}

.navbar .active {
    background-color: indigo;
}

.footer {
    overflow: auto;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    
    text-align: center;
    color: white;
    padding: 30px;
}

@media screen and (max-width: 800px) {
    .navbar a {
        display: block;
        width: 100%;
    }
    .purple-button {
        display: block;
        width: 83%;
    }
}

.textbox {
    background-color: rgba(0,0,0, 0.9);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
}

.textbox:hover {
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.4);
}

.textbox a {
    color: rgb(95, 124, 255);
}

.textbox a:visited {
    color: rgb(175, 111, 184);
  }
  
.textbox a:hover {
    color: blueviolet;
}

.figure {
    height: auto;
    width: 100%;
    margin-top: 20px;
    opacity: 1.0;
}

.figure2 {
    height: auto;
    width: 49%;
    margin-top: 20px;
    opacity: 1.0;
}

figcaption {
    margin-bottom: 30px;
    font-style: italic;
}

.reference {
    text-align: left;
    margin-left: 2em; 
    text-indent: -2em;
}

.photo {
    width: 100%;
    height: auto;
}

h1 {
    line-height: 1.1;
}